# Learn Python

This notebook covers the basics of Python programming, which are essential for working with AI and data science.

## Variables and Data Types

In [ ]:
# Variables
x = 10
y = "Hello"
z = 3.14

# Data Types
# Integer
a = 10
print('a : ',a)
print(type(a))

# String
b = "World"
print(b)
print(type(b))

# Float
c = 2.718
print(type(c))

# Boolean
d = True
print(type(d))

## Data Structures

Python offers several built-in data structures to organize and store data.

In [ ]:
# List (ordered, mutable)
print("List")
my_list = [1, 2, 3, "apple", "banana"]
print(my_list[0])
my_list.append("cherry")
print(my_list)

# Tuple with mixed data types
print("Tuple")
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)
print(mixed_tuple[1])

# Nested tuples
print("Nested Tuple")
nested_tuple = ((1, 2), (3, 4), ("a", "b"))
print(nested_tuple[0][1])
print(nested_tuple[0])

# Tuple with a single element (note the comma)
print("Single Element Tuple")
single_element_tuple = (5,)
print(single_element_tuple)
print(type(single_element_tuple))

# Tuple unpacking
print("Tuple Unpacking")
a, b, c = (10, 20, 30)
print(a)
print(b)
print(c)

# Dictionary (unordered, mutable, key-value pairs)
print("Dictionary")
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict["name"])
my_dict["job"] = "Engineer"
print(my_dict)

# Sets (unordered, mutable, unique elements)
print("Set")
my_set = {1, 2, 3, 3, 4}
print(my_set)

## Control Flow

Control flow statements determine the order in which code is executed.

### Conditional Statements

In [ ]:
age = 25
if age < 18:
  print("You are a minor.")
elif 18 <= age < 65:
  print("You are an adult.")
else:
  print("You are a senior.")

### Loops

In [ ]:
# For loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

# While loop
count = 0
while count < 5:
  print(count)
  count += 1

### Loop Control Statements

These statements alter the normal flow of loops.

In [ ]:
# break
for i in range(10):
  if i == 5:
    break
  print(i)

# continue
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

# pass
for i in range(10):
  pass # Do nothing for now

## Functions

Functions are reusable blocks of code that perform a specific task.

In [ ]:
def greet(name):
  """This function greets the person passed in as a parameter."""
  print(f"Hello, {name}!")

greet("Bob")

def add(x, y):
  return x + y

result = add(5, 3)
print(result)

def square(x):
  print(a) 
  return x**2

# Lambda functions (anonymous functions)
square = lambda x: x**2
print(square(4))

# Different Types of Lambda Examples
print("Different Types of Lambda Examples")
add = lambda x, y: x + y
print(add(5, 3))

multiply = lambda x, y: x * y
print(multiply(5, 3))

greet = lambda name: print(f"Hello, {name}!")
greet("Alice")

square_root = lambda x: x**0.5
print(square_root(16))

factorial = lambda n: 1 if n == 0 else n * factorial(n-1)
print(factorial(5))

namedFunction = add
print(namedFunction(3,4))

## Object-Oriented Programming (OOP)

OOP is a programming paradigm based on the concept of objects.

In [ ]:
class Animal:
  @abstractmethod
  def bark():
    pass

class Dog(Animal):
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def bark(self):
    print(f"{self.name} says Woof!")

my_dog = Dog("Buddy", 3)
print(my_dog.name)
my_dog.bark()

### Inheritance

Inheritance allows a class to inherit properties and methods from another class.

In [ ]:
class Labrador(Dog):
  def __init__(self, name, age, color):
    super().__init__(name, age)
    self.color = color

  def swim(self):
    print(f"{self.name} loves to swim!")

my_labrador = Labrador("Lucy", 5, "yellow")
print(my_labrador.color)
my_labrador.bark()
my_labrador.swim()

## Modules and Libraries

Modules and libraries provide pre-written code that you can use in your programs.

In [ ]:
# Importing built-in modules
import math
print(math.sqrt(16))

# Importing specific functions from a module
from random import randint
print(randint(1, 10))

### Installing and Importing External Libraries

You can use `pip` to install external libraries.

In [ ]:
# Installing and importing external libraries (using pip)
!pip install numpy
import numpy as np

my_array = np.array([1, 2, 3, 4, 5])
print(my_array * 2)

## File Handling

Python provides functions for working with files.

In [1]:
# Writing to a file
with open("my_file.txt", "w") as f:
  f.write("Hello, file!")

# Reading from a file
with open("my_file.txt", "r") as f:
  content = f.read()
  print(content)

# Appending to a file
with open("my_file.txt", "a") as f:
  f.write("\nThis is a new line.")

with open("my_file.txt", "r") as f:
  content = f.read()
  print(content)

Hello, file!
Hello, file!
This is a new line.

## Error Handling (Try-Except)

Error handling allows you to gracefully manage errors that may occur in your code.

In [ ]:
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Cannot divide by zero!")

try:
  num = int("abc")
except ValueError:
  print("Invalid number format.")